/* font-family: 'Kanit', sans-serif;
font-family: 'Sigmar One', cursive; */
* {
  /* border: 2px red solid; */
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image: url("white-crumpled-lined-paper-background_53876-150112.webp");
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Sigmar One", cursive;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.rules {
  margin-top: 0%;
  padding-top: 0%;
}

#your-choice {
  font-family: "Sigmar One", cursive;
  font-weight: bold;
  display: block;
}

#comp-choice {
  font-family: "Sigmar One", cursive;
  font-weight: bold;
  display: block;
}

h2 {
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

.image-selection {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 850px;
}

.image-selection img {
  max-width: 200px;
  width: 33%;
  border-radius: 75px;
  border: 5px solid black;
  transition: transform 0.25s ease;
  box-shadow: 0 9px #999;
}

.image-selection img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.image-selection img:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#round-result {
  font-family: "Sigmar One", cursive;
}

#game-choices {
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  justify-content: space-around;
}

.round-result-container > h2 {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0;
  font-size: xx-large;
}

#five-game-result {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-evenly;
}

/* FOOTER */

footer {
  font-style: italic;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

footer p {
  text-align: center;
  margin: 0% auto;
}

.fa-icons {
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
}

@media screen and (max-height: 630px) {
  footer {
    position: initial;
  }
}

@media (max-width: 425px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
  }

  .image-selection {
    margin-left: 5%;
    margin-right: 5%;
  }

  #game-choices {
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
  }

  #game-choices h2 {
    margin: 0;
  }
}
