/* font-family: 'Kanit', sans-serif;
font-family: 'Sigmar One', cursive; */
* {
    border: 2px red solid;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-align: center;
}

.image-selection {
    display: flex;

    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.image-selection img {
    width: 200px;
    border-radius: 75px;
    border: 5px solid black;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("white-crumpled-lined-paper-background_53876-150112.webp");
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
