/* font-family: 'Kanit', sans-serif;
font-family: 'Sigmar One', cursive; */
* {
    border: 2px red solid;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("white-crumpled-lined-paper-background_53876-150112.webp");
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


h1 {
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

.image-selection {
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.image-selection img {
    width: 200px;
    border-radius: 75px;
    border: 5px solid black;
}

#game-choices {
    display: flex;
    margin-left: 20% ;
    margin-right: 20%;
    justify-content: space-evenly;
}

/* FOOTER */

footer {
    width: 100%;
}

footer p {
    margin-bottom: 0;
    text-align: center;
}

.fa-icons {
    display: flex;
    justify-content: center;
    color: black;
}

.me-tsvstacks {
    margin-top: 0%;
}
